.App {
  text-align: center;
  flex-wrap: wrap;
  display: flex;
}

.App .card{
  background-color: #2D3848; 
}

.App a{
  color: #2FC3C5;
  text-decoration: none;
}
.App a h1{
  font-size: 22px;
}
.App p{
  color: #8798B0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav{
  padding: 10px 0;
  border-bottom: 2px solid #2d3848;
  margin-bottom: 45px;
}

.nav-item > a{
    color: #2FC3C5;
    font-size: 18px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #2FC3C5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
